*{
    margin: 0;
    padding: 0;
 }
 body{
    scroll-behavior: smooth;
 }
.webpage{
    background-color: #F0F8EC;
}
.webpage2{
    background-image: url(/images/about-us-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/about-us-header.png);
    background-size: cover;
    background-position: center;
    width: 95vw;
    border-radius: 50px;
}
.header-img img{
    width: 250px;
    height: 250px;
}
.section-img img{
    width: 150px;
    margin: 30px 0px;
}
.about-us-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}
.about-us2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}
.question{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80vw;
    height: 30vh;
    border-radius: 50px;
}
.question img{
    width: 300px;
}
.question2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 80vw;
    height: 40vh;
    border-radius: 50px;
}
.text-with-lines::before { 
    content: ""; 
    display: block; 
    border-top: 20px solid #316655; 
    margin: 0 0 55px 0; 
    border-radius: 10px;
} 
.our-team-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team-grid{
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}
.team-cards{
    background-color: white;
    width: 40vw;
    height: 17vw;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.team-cards img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    object-fit: cover;
    padding: 20px;
}
.team-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    row-gap: 20px;
    padding: 20px;
}
.team-info span{
    text-align: left;
}