body {
    margin: 0;
    padding: 0;

  }
  body{
    scroll-behavior: smooth;
 }
  .webpage{
    background-image: url(/images/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .below-main{
    background-image: url(/images/main-bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar {
    /* background-color: #ffffff; */
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 90px; /* Adjust height as needed */
    transform: translate(0px 15px);
  }
  
  .menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 21px;
    font-family: Poppins, arial;
  }
  
  .menu-items ul li {
    margin-right: 30px; /* Adjust spacing between menu items */
  }
  
  .menu-items ul li:last-child {
    margin-right: 0; /* Remove margin for last menu item */
  }
  
  .menu-items ul li a {
    text-decoration: none;
    color: #000000;
  }
  
  .community-btn .btn {
    padding: 10px 15px;
    /* background-color: white; */
    color: #316655;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #316655;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px ;
    font-family: Poppins, arial;
  }
  
  .community-btn .btn:hover {
    background-color: #316655;
    color: white;
    transition: background-color 0.5s;

  }
  /* Main Section */
  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-img img{
    width: 550px;
  }
  .main-img{
    position: relative;
  }
  .main-btn{
    padding: 10px 15px;
    background-color:#316655;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid #316655;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px ;
    font-family: Poppins, arial;
    margin-top: 20px;
  }
  .main-txt{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 70vh;
    margin-top: 80px;
    margin-left: 115px;
    position: relative;
  }
  .main-btn:hover{
    background-color: white;
    color: #316655;
    border: 2px solid #316655;
    border-radius: 20px;
    transition: background-color 0.5s;
  }
  .glass{
    background: rgba(178, 169, 169, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.37);
    width: 165px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px ;
    font-family: Poppins, arial;
    margin-top: 73px;
    margin-left: 50px;
    /* color: white; */
    font-weight: 500;
}
  .glass:hover{
    box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.628);
    cursor: pointer;
  }
  .glass2{
    /* height: 50px; */
    transform: translate(800px, -570px);
    position: absolute;
    width: 175px;
  }
  .below-main-container{
    display: flex;
    padding: 25px;
    position: relative;
    background-image: url(/images/background-home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .below-main-txt{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 75vh;
    margin-top: 80px;
    margin-left: 115px;
    position: relative;
  }
  .below-main-img img{
    width: 300px;
    /* mix-blend-mode: darken; */
    /* margin-top: 150px; */
    border-radius: 50px;
  }
  .main-img1{
    height: 500px;
  }
  .below-main-img{
    display: flex;
    column-gap: 20px;
    margin-top: 80px;
  }
  .main-img2{
    height: 250px ;
    object-fit: cover;
  }
  /* #input-arrow{
    transform: translate(-500px,10px);
  } */