*{
    margin: 0;
    padding: 0;
 }
 body{
    scroll-behavior: smooth;
 }
.webpage{
    /* background-image: url(/images/blogs-bg.png); */
    background-color: #F0F8EC;
}
.yoga-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yoga-header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(/images/yogaheader-new\ image.jpg);
    background-size: cover;
    background-position: center;
    width: 98vw;
    height: 60vh;
    border-radius: 50px;
}
.yoga-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;

}
/* Video Cards */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    column-gap: 40px;
    margin-top: 30px;
    
}
  
.blog-card {
    width: 400px;
    height: 540px;
    border-radius: 10px;
    margin: 60px 0px 60px 0px;
    background-color: rgb(255, 255, 255);
    /* outline: thick solid #ff9900; */
    /* outline-offset: -6px; */
    position: relative;
}
  
.blog-image-container {
    height: 300px;
    position: relative;
    /* top:-90px; */
    padding: 10px;
    margin: 10px 0px;
    font-family: sedan,arial;
}
  
.blog-image-container img {
    width: 370px;
    height: 230px;
    object-fit:cover;
    text-align: center;
    transition: transform 0.5s;
    border-radius: 10px;
}
.blog-details {
    padding: 20px;
    margin-top:-90px;
    font-family: sedan,arial;
}
  
.blog-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: sedan,arial;
    text-align: left;
}
  
.blog-price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
  
.blog-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: black;
    font-family: sedan,arial;
}
.read-more-btn{
    padding: 10px 20px;
    border: none;
    width: 150px;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: sedan,arial;
}
  
.read-more-btn {
    background-color: #4c8673;
    text-align: center;
}
.read-more-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.buttons{
    text-align: center;
    position: relative;
    bottom: 0;
}

